.scrolls {
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    overflow-y: hidden;
    height: 55px;
    white-space:nowrap
}
a.btn {
    color:  rgb(255, 255, 255);
    background-color: rgb(111, 111, 111);
}
.custom-image {
    position: relative;
    width: 100%;
    max-width: 400px;
    }
.custom-image .dot {
        position: absolute;
        top: 5px;
        left: 80%;
        color: white;
    }
.well{
    background: white;
}
.col-sm-3{
    width: 200px;
}

div.overflow {
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 100%;
    overflow-y: auto;
    margin: 0 auto;
}