<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass0">
      {{ message0 }}
  </div>
</div>
<div class="row">
<div class="col-sm-3 ">
<div class="well well-left">
    <span class="title"><i class="glyphicon glyphicon-map-marker"></i> Khu vực</span>
    <li (click)="getRegionId(0)" [ngClass]="{'colorSelected': region_id == 0}">Tất cả</li>
  <div *ngFor="let region of regions">
    <div class="dropdown">
    <li (click)="getRegionId(region.id)" [ngClass]="{'colorSelected': region_id == region.id}">{{ region.name }}</li>
    <div class="dropdown-content dropdown-menu">
        <a (click)="getRegion(region.id,region.name)" data-toggle="modal" data-target="#editModal">Sửa</a>
        <a (click)="getRegionId2(region.id)" data-toggle="modal" data-target="#confirmModal">Xóa</a>
    </div>
  </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="confirmModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bạn có muốn xóa Khu vực này?</h4>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn-success" data-dismiss="modal" (click)="deleteRegion(region_id2)">Yes</button>
          <button type="button" class="btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>  
</div>

  <!-- Modal -->
  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form [formGroup] ="form3" (submit)="editRegion()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sửa khu vực</h4>
        </div>
        <div class="modal-body">
            <div class="row show-hide-message">
                <div [ngClass]="messageClass">
                    {{ message }}
                </div>
              </div>
            <div class="form-group">
                <div>
                    <input class="form-control" type="text" name="id" formControlName="id" value="{{ idRegion }}" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div [ngClass]="{'has-error': (form3.controls.name.errors && form3.controls.name.dirty) || (!nameRegionValid && form3.controls.name.dirty)  , 'has-success': !form3.controls.name.errors && nameRegionValid}">
                    <input class="form-control" type="text" name="name"  formControlName="name"  value="{{ nameRegion }}" (blur)="checkNameRegion2()"/>
                    <ul class="help-block">
                        <li *ngIf="form3.controls.name.errors?.required && form3.controls.name.dirty">Nội dung bắt buộc!</li>
                        <li *ngIf="form3.controls.name.errors?.maxlength && form3.controls.name.dirty">Tối đa 30 ký tự!</li>
                        <li *ngIf="nameRegionMessage">{{ nameRegionMessage }}</li>
                    </ul>
              </div>
          </div>
         </div>
        <div class="modal-footer">
          <button [disabled]="!nameRegionValid " type="submit" name="button" class="btn btn-success" >Đồng ý</button>
        </div>
      </form>
      </div>
      
    </div>
  </div>
  <!-- Modal end-->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-plus"></span> Thêm khu vực
</button>
 <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <form [formGroup] ="form2" (submit)="createRegion()">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Thêm khu vực</h4>
    </div>
    <div class="modal-body">
      <!-- Custom Success/Error Message -->
      <div class="row show-hide-message">
          <div [ngClass]="messageClass">
            {{ message }}
          </div>
        </div>
        <div class="form-group">
            <div [ngClass]="{'has-error': (form2.controls.id.errors && form2.controls.id.dirty) || (!idRegionValid && form2.controls.id.dirty), 'has-success': !form2.controls.id.errors && idRegionValid}">
                <input class="form-control" type="text" name="id" formControlName="id" placeholder="*Mã khu vực"  (blur)="checkIdRegion()"/>
                <ul class="help-block">
                    <li *ngIf="form2.controls.id.errors?.required && form2.controls.id.dirty">Nội dung bắt buộc!</li>
                    <li *ngIf="form2.controls.id.errors?.maxlength && form2.controls.id.dirty">Tối đa 30 ký tự!</li>
                    <li *ngIf="form2.controls.id.errors?.validateId && form2.controls.id.dirty">Viết liền không dấu, không ký tự đặt biệt</li>
                    <li *ngIf="idRegionMessage">{{ idRegionMessage }}</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div [ngClass]="{'has-error': (form2.controls.name.errors && form2.controls.name.dirty) || (!nameRegionValid && form2.controls.name.dirty)  , 'has-success': !form2.controls.name.errors && nameRegionValid}">
                <input class="form-control" type="text" name="name"  formControlName="name"  placeholder="*Tên khu vực" (blur)="checkNameRegion()"/>
                <ul class="help-block">
                    <li *ngIf="form2.controls.name.errors?.required && form2.controls.name.dirty">Nội dung bắt buộc!</li>
                    <li *ngIf="form2.controls.name.errors?.maxlength && form2.controls.name.dirty">Tối đa 30 ký tự!</li>
                    <li *ngIf="nameRegionMessage">{{ nameRegionMessage }}</li>
                </ul>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="!form2.valid || !idRegionValid || !nameRegionValid " type="submit" name="button" class="btn btn-success" >Đồng ý</button>
    </div>
  </form>
  </div>
  
</div>
  
</div>
<!-- Modal end-->
</div>

<div class="col-sm-9 ">
  <div class="row well well-right">
      <div class="row">
          <div class="col-sm-6">
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tablesModal">
                  <span class="glyphicon glyphicon-plus"></span> Thêm bàn
              </button>
          </div>
          <div class="col-sm-6">
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input type="text" class="form-control input-ms" (keyup)="getKeyWord($event.target)" placeholder="Tìm kiếm" />
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button">
                              <i (click)="findTable()" class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>

      </div>

    <!-- Modal -->
   <div class="modal fade" id="tablesModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
        <form [formGroup] ="form" (submit)="createTable()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thêm bàn</h4>
          </div>
          <div class="modal-body">
              <div class="row show-hide-message">
                  <div [ngClass]="messageClass2">
                      {{ message2 }}
                  </div>
                </div>
            <div class="form-group">
                  <label for="region_id"> Chọn khu vực</label>
                  <div >
                    <select  class="form-control" name="region_id"  formControlName="region_id" autocomplete="off">
                        <option  *ngFor="let region of regions" value="{{ region.id }}"> {{ region.name }}</option>
                      </select>
                  </div>
          </div>
          <div class="form-group">
              <div [ngClass]="{'has-error': (form.controls.id.errors && form.controls.id.dirty) ||  (!idTableValid && form.controls.id.dirty)  , 'has-success': !form.controls.id.errors && idTableValid }">
                  <input class="form-control" type="text" name="id" formControlName="id" placeholder="*Mã Bàn"  (blur)="checkIdTable()"/>
                  <ul class="help-block">
                      <li *ngIf="form.controls.id.errors?.required && form.controls.id.dirty">Nội dung bắt buộc!</li>
                      <li *ngIf="(form.controls.id.errors?.minlength || form.controls.id.errors?.maxlength) && form.controls.id.dirty">Lớn hơn 3 ký tự và nhỏ hơn 30 ký tự.</li>
                      <li *ngIf="form.controls.id.errors?.validateId && form.controls.id.dirty">Viết liền không dấu, không ký tự đặt biệt</li>
                      <li *ngIf="idTableMessage">{{ idTableMessage }}</li>
                  </ul>
              </div>
          </div>
          </div>

          <div class="modal-footer">
                <button [disabled]="!form.valid || !idTableValid" type="submit" name="button" class="btn btn-success" >Đồng ý</button>
          </div>
          </form>
        </div>
      </div>
    </div>
   
    <!-- End -->
    <div *ngFor="let table of tables">
      <div class="col-sm-3 col-md-3">
          <div class="dropdown">
              <div class=thumbnail style="height:220px">
                  <div class="custom-image">
                          <img class="foods"src="http://localhost:8080/icon/table.png" width="170" height="145">
                          <a class="dot" [ngClass]="{'active': table.actived , 'inactive': !table.actived}"></a>
                  </div> 
                  <div class=caption>
                    <h4> Bàn {{ table.id }} </h4>
                  </div>
                </div>
              <div class="dropdown-content dropdown-menu">
                  <a *ngIf="table.actived"  (click)="changeActived(table.id, false)" >Tạm ngưng</a>
                  <a *ngIf="!table.actived" (click)="changeActived(table.id, true)" >Mở bàn</a>
                  <a (click)="getTableId(table.id)" data-toggle="modal" data-target="#confirmModal2">Xóa</a>
              </div>
                <!-- Modal -->
            <div class="modal fade" id="confirmModal2" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Bạn có muốn xóa Khu vực này?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-success" data-dismiss="modal" (click)="deleteTable(table_id)">Yes</button>
                        <button type="button" class="btn-default" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
      </div>
     </div>
</div>
</div>
</div>