
<div class="row container">
        <div class="row show-hide-message">
                <div [ngClass]="messageClass">
                    {{ message }}
                </div>
            </div>
    <div class="col-sm-6 ">
        <h4>Hình ảnh:</h4>
        <div class="form-group">
            <input class="form-control" name="url_image" type="file" accept='image/*' (change)="fileChangeEvent($event)" placeholder="Upload a file..."
                multiple/>
            <button [disabled]="!selectedImage" class="btn btn-success" (click)="addImge()">Thêm ảnh</button>
        </div>
        <div class="overflow">
            <div *ngFor="let image of images" >
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail"> 
                    <div class="custom-image" >
                        <img src="{{ image }}" alt="Generic placeholder image" width="222" height="222">
                        <a class="btn" data-toggle="modal" data-target="#myModal" (click)="getImageName(image)">Xóa</a>
                          <!-- Modal -->
                          <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Bạn có muốn xóa ảnh này?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn-success" data-dismiss="modal" (click)="deleteImage(food.id)">Yes</button>
                                    <button type="button" class="btn-default" data-dismiss="modal">No</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
              
            </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <h4>Thông tin món ăn:</h4>
        <div class="row well well-right">
                <div class="iwt">
                        <form [formGroup] ="form1" >
                                <label>Trạng thái hoạt động</label>
                                <div class="material-switch pull-right form-group">
                                        <input id="someSwitchOptionSuccess" type="checkbox" formControlName="actived" [checked]="food.actived" (change)="changeActived()">
                                        <label for="someSwitchOptionSuccess" class="label-success"></label>
                                </div>
                        </form>
                    </div>
                <div class="col-sm-5">
                        <div class="lbl">
                                <label for="id">Mã món ăn:</label>
                        </div>
                        <div class="lbl">
                                <label for="name">Tên món ăn:</label>
                        </div>
                        <div class="lbl">
                                <label for="category_id">Danh mục:</label>
                        </div>
                        <div class="lbl">
                                <label for="description">Chú thích:</label>
                        </div>
                        <div class="lbl">
                                <label for="price_unit">Đơn giá:</label>
                        </div>
                        <div class="lbl">
                                <label for="discount">Giảm giá:</label>
                        </div>
                        <div class="lbl">
                                <label for="inventory">Tồn kho:</label>
                        </div>
                        <div class="lbl">
                                <label for="unit">Đơn vị:</label>
                        </div>
                    </div>
                <div class="col-sm-7">
                        <form [formGroup]="form" (submit)="editFood()">
                                <div class="row">
                            <div class="form-group">
                                <div >
                                    <input class="form-control" type="text" name="id" formControlName="id" disabled value="{{ food.id }}" />
                                </div>
                            </div>
                            <div class="form-group" >
                                <div [ngClass]="{'has-error': form.controls.name.errors && form.controls.name.dirty , 'has-success': !form.controls.name.errors}">
                                    <input class="form-control" type="text" name="name" formControlName="name" value="{{ food.name }}" placeholder="*Tên món" (change)="changeName()"/>
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">Nội dung bắt buộc!</li>
                                        <li *ngIf="form.controls.name.errors?.maxlength && form.controls.name.dirty">Tối da 30 ký tự!</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <select class="form-control" [(ngModel)]="selectedState" (change)="changeCategory()" name="category_id" formControlName="category_id"  autocomplete="off">
                                        <option *ngFor="let categoryfoods of categoryFoods" value="{{ categoryfoods.id }}">  {{ categoryfoods.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form.controls.description.errors && form.controls.description.dirty) , 'has-success': !form.controls.description.errors}">
                                    <input class="form-control" type="text" name="description"  formControlName="description" value="{{ food.description }}" placeholder="*Mô tả món" (change)="changeDescription()" />
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.description.errors?.required && form.controls.description.dirty">Nội dung bắt buộc!</li>
                                        <li *ngIf="form.controls.description.errors?.maxlength && form.controls.description.dirty">Tối đa 30 ký tự!</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form.controls.price_unit.errors && form.controls.price_unit.dirty) , 'has-success': !form.controls.price_unit.errors}">
                                    <input class="form-control" type="number" name="price_unit" formControlName="price_unit" value="{{ food.price_unit }}" placeholder="0" (change)="changePriceUnit()" />
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.price_unit.errors?.required && form.controls.price_unit.dirty">Nội dung bắt buộc!</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form.controls.discount.errors && form.controls.discount.dirty) , 'has-success': !form.controls.discount.errors}">
                                    <input class="form-control" type="number" name="discount" formControlName="discount" value="{{ food.discount }}" placeholder="0"  (change)="changeDiscount()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form.controls.inventory.errors && form.controls.inventory.dirty) , 'has-success': !form.controls.inventory.errors}">
                                    <input class="form-control" type="number" name="inventory" formControlName="inventory" value="{{ food.inventory }}" placeholder="0"  (change)="changeInventory()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form.controls.unit.errors && form.controls.unit.dirty) , 'has-success': !form.controls.unit.errors}">
                                    <input class="form-control" type="text" name="unit" formControlName="unit" value="{{ food.unit }}" placeholder="*Đơn vị"  (change)="changeUnit()"/>
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.unit.errors?.required && form.controls.unit.dirty">Nội dung bắt buộc!</li>
                                        <li *ngIf="form.controls.unit.errors?.maxlength && form.controls.unit.dirty">Tối đa 30 ký tự!</li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                    <button [disabled]="!checkChange || !name || !category_id || !description ||!price_unit || !unit" type="submit" name="button" class="btn btn-success">Lưu</button>
                            </div>
                           
                    </form>
                </div>
        </div>
      
        

    </div>

</div>
