<div class="row container">
    <div class="row show-hide-message">
        <div [ngClass]="messageClass">
            {{ message }}
        </div>
    </div>
  <div class="col-sm-6 ">
    <div class="row">
        <div class="col-sm-6 ">
          
                <select class="form-control" (change)="changeCategory($event.target)">
                  <option value="0" >Tất cả</option>
                  <option *ngFor="let region of regions" value="{{ region.id }}" >{{ region.name }}</option>
                </select>
                <!-- <button (click)="createOrder()">Tạo hóa đơn(tao hoa don mau)</button> -->
        </div>
        <div class="col-sm-6 ">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-ms" (keyup)="getKeyWord($event.target)" placeholder="Tìm kiếm" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i (click)="findOrder()" class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
          </div>
    </div>
  
    <div class="well well-left">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Mã bàn</th>
                <th>Khách hàng</th>
                <th>Phục vụ</th>
                <th>Tổng tiền</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of orders">
              <tr (click)="getDetailOrder(order.id)">
                <td>{{ order.tables}}</td>
                <td>{{ order.customer_fullname }}</td>
                <td>{{ order.waiter_fullname }}</td>
                <td>{{ order.final_cost }}</td>
                <td> <div id="circle" [ngClass]="{'pay': order.flag_status == 5 }"></div></td>
              </tr>
            </tbody>
          </table>
    </div>
   
  </div>
  <div class="col-sm-6 ">
    <h4>Hóa đơn</h4>
    <div id="bill" class="well well-right">

        <div class="row inf">
            <div class="col-sm-4">
                <i class="glyphicon glyphicon-calendar"></i>
                <label id="time_order" for="disabled">{{ order.time_created | date:'HH:mm yyyy-MM-dd'  }}</label>
            </div>
        </div>
        <div class="row inf">
          <div class="col-sm-4">
              <i class="glyphicon glyphicon-map-marker"></i>
              <label id="region_order">{{ order.region_name }}</label>
          </div>
          <div class="col-sm-4">
              <i class="glyphicon glyphicon-cutlery"></i>
              <label id="table_order" for="disabled">{{ order.tables }}</label>
          </div>
        </div>
        <div class="row inf">
            <div class="col-sm-4">
          <i class="glyphicon glyphicon-user"></i>
          <label id="customer_order" for="disabled">{{ order.customer_fullname }}</label>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Mã món</th>
              <th>Tên món</th>
              <th>Số lượng</th>
              <th>Đơn giá</th>
              <th>Chiếc khấu</th>
            </tr>
          </thead>
          <tbody id="body_order">
            <tr *ngFor="let detail of detail_order">
              <td>{{ detail.food_id }}</td>
              <td>{{ detail.food_name }}</td>
              <td> {{ detail.count }}</td>
              <td>{{ detail.price_unit }}</td>
              <td>{{ detail.discount }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row alignright" >
      <button  *ngIf="btnPay" class="circle-btn">
          <i class="glyphicon glyphicon-usd" data-toggle="modal" data-target="#calculate"></i>
      </button>
      <button>
          <i class="glyphicon glyphicon-print" (click)="print()"></i>
      </button>
    </div>
          <!-- Modal -->
          <div class="modal fade" id="calculate" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="modal-title center">
            <h4>Tính tiến</h4>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="row inf">
                      <div class="col-sm-4">
                          <Label>Tiền khách đưa: </Label>
                      </div>
                      <div class="col-sm-8">    
                          <input  class="form-control" type="number"  placeholder="0" (keyup)="onKey($event.target)"/>
                      </div>
                  </div>
                  <div class="row inf">
                    <div class="col-sm-4">
                      <Label>Tiền đặt cọc: </Label>
                    </div>
                    <div class="col-sm-8">
                        <input  disabled class="form-control" type="number"  value="{{ order.paid_cost }}">
                    </div>
                </div>
                  <div class="row inf">
                      <div class="col-sm-4">
                        <Label>Tổng tiền: </Label>
                      </div>
                      <div class="col-sm-8">
                          <input  disabled class="form-control" type="number"  value="{{ order.final_cost }}">
                      </div>
                  </div>
                  <div class="row inf">
                      <div class="col-sm-4">
                        <Label>Tiền thừa: </Label>
                      </div>
                      <div class="col-sm-8">
                          <input disabled class="form-control" type="text"  value="{{ excess_cash }}">
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button class="form-control" type="button" class="btn-success" data-dismiss="modal" (click)="editStatusOrder()">Lưu lại</button>
                    <button class="form-control" type="button" class="btn-default" data-dismiss="modal">Lưu và in</button>
                </div>
              </div>
            </div>
          </div>  
  
  </div>
</div>