<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
    <div [ngClass]="messageClass0">
        {{ message0 }}
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="well well-left">
            <span class="title">
                <i class="glyphicon glyphicon-list-alt"></i> Danh mục</span>
                <li (click)="getCategoryId(0)" [ngClass]="{'colorSelected': category_id == 0}">Tất cả</li>
            <div *ngFor="let categoryMaterials of categoryMaterials">
                <div class="dropdown ">
                    <li (click)="getCategoryId(categoryMaterials.id)" [ngClass]="{'colorSelected': category_id == categoryMaterials.id}">{{ categoryMaterials.name }}</li>
                    <div class="dropdown-content dropdown-menu">
                        <a (click)="getCategoryMaterials(categoryMaterials.id,categoryMaterials.name)" data-toggle="modal" data-target="#editModal">Sửa</a>
                        <a (click)="getCategoryId2(categoryMaterials.id)" data-toggle="modal" data-target="#confirmModal">Xóa</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="confirmModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bạn có muốn xóa danh mục này?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-success" data-dismiss="modal" (click)="deleteCategoryMaterials(category_id2)">Yes</button>
                        <button type="button" class="btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form [formGroup]="form3" (submit)="editCategoryMaterials()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Sửa danh mục</h4>
                        </div>
                        <div class="modal-body">
                            <!-- Custom Success/Error Message -->
                            <div class="row show-hide-message">
                                <div [ngClass]="messageClass">
                                    {{ message }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input class="form-control" type="text" name="id" formControlName="id" value="{{ idCategoryMaterials }}" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form3.controls.name.errors && form3.controls.name.dirty) || (!nameCategoryValid && form3.controls.name.dirty)  , 'has-success': !form3.controls.name.errors && nameCategoryValid}">
                                    <input class="form-control" type="text" name="name" formControlName="name" value="{{ nameCategoryMaterials }}" (blur)="checkNameCategory2()"
                                    />
                                    <ul class="help-block">
                                        <li *ngIf="form3.controls.name.errors?.required && form3.controls.name.dirty">Nội dung bắt buộc!</li>
                                        <li *ngIf="form3.controls.name.errors?.maxlength && form3.controls.name.dirty">Tối đa 30 ký tự!</li>
                                        <li *ngIf="nameCategoryMessage">{{ nameCategoryMessage }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button [disabled]="!nameCategoryValid " type="submit" name="button" class="btn btn-success">Đồng ý</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- Modal end-->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus"></span> Thêm danh mục
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form [formGroup]="form2" (submit)="onCategoryMaterialsSubmit()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm danh mục</h4>
                        </div>
                        <div class="modal-body">
                            <!-- Custom Success/Error Message -->
                            <div class="row show-hide-message">
                                <div [ngClass]="messageClass">
                                    {{ message }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form2.controls.id.errors && form2.controls.id.dirty) || (!idCategoryValid && form2.controls.id.dirty), 'has-success': !form2.controls.id.errors && idCategoryValid}">
                                    <input class="form-control" type="text" name="id" formControlName="id" placeholder="*Mã danh mục" (blur)="checkIdCategory()"
                                    />
                                    <ul class="help-block">
                                        <li *ngIf="form2.controls.id.errors?.required && form2.controls.id.dirty">Nội dung bắt buộc!</li>
                                        <li *ngIf="form2.controls.id.errors?.maxlength && form2.controls.id.dirty">Tối đa 30 ký tự!</li>
                                        <li *ngIf="form2.controls.id.errors?.validateId && form2.controls.id.dirty">Viết liền không dấu, không ký tự đặt biệt</li>
                                        <li *ngIf="idCategoryMessage">{{ idCategoryMessage }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (form2.controls.name.errors && form2.controls.name.dirty) || (!nameCategoryValid && form2.controls.name.dirty)  , 'has-success': !form2.controls.name.errors && nameCategoryValid}">
                                    <input class="form-control" type="text" name="name" formControlName="name" placeholder="*Tên danh mục" (blur)="checkNameCategory()"
                                    />
                                    <ul class="help-block">
                                        <li *ngIf="form2.controls.name.errors?.required && form2.controls.name.dirty">Nội dung bắt buộc!</li>
                                        <li *ngIf="form2.controls.name.errors?.maxlength && form2.controls.name.dirty">Tối đa 30 ký tự!</li>
                                        <li *ngIf="nameCategoryMessage">{{ nameCategoryMessage }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button [disabled]="!form2.valid || !idCategoryValid || !nameCategoryValid " type="submit" name="button" class="btn btn-success">Đồng ý</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- Modal end-->


    </div>
    <div class="col-sm-9">
        <div class="row well well-sm well-right">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#foodsModal">
                        <span class="glyphicon glyphicon-plus"></span> Nhập nguyên liệu
                    </button>
                </div>
                <div class="col-sm-6">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-ms" (keyup)="getKeyWord($event.target)" placeholder="Tìm kiếm" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i (click)="findMaterials()" class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã NL</th>
                        <th>Tên NL</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                        <th>Đơn giá</th>
                        <th>Thời gian</th>
                    </tr>
                </thead>
                <tbody id="body_order">
                    <tr *ngFor="let materials of materials">
                        <td>{{ materials.id }}</td>
                        <td>{{ materials.name }}</td>
                        <td>{{ materials.count }}</td>
                        <td>{{ materials.unit }}</td>
                        <td>{{ materials.price_unit }}</td>
                        <td>{{ materials.time | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <i class="btn glyphicon glyphicon-pencil" (click)="getIdMaterials(materials._id)" data-toggle="modal" data-target="#editMaterialsModal"></i>
                            <i class="btn glyphicon glyphicon-trash" (click)="get_id(materials._id)" data-toggle="modal" data-target="#confirmMaterialsModal"></i>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmMaterialsModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bạn có muốn xóa danh mục này?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-success" data-dismiss="modal" (click)="deleteMaterial()">Yes</button>
                    <button type="button" class="btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="foodsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form [formGroup]="form" (submit)="onMaterialsSubmit()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm nguyên liệu</h4>
                    </div>
                    <div class="modal-body">
                        <!-- Custom Success/Error Message -->
                        <div class="row show-hide-message">
                            <div [ngClass]="messageClass2">
                                {{ message2 }} {{ message3 }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div [ngClass]="{'has-error':form.controls.id.errors && form.controls.id.dirty , 'has-success': !form.controls.id.errors  }">
                                <input class="form-control" type="text" name="id" formControlName="id" placeholder="*Mã nguyên liệu" />
                                <ul class="help-block">
                                    <li *ngIf="form.controls.id.errors?.required && form.controls.id.dirty">Nội dung bắt buộc!</li>
                                    <li *ngIf="form.controls.id.errors?.maxlength && form.controls.id.dirty">Tối đa 30 ký tự!</li>
                                    <li *ngIf="form.controls.id.errors?.validateId && form.controls.id.dirty">Viết liền không dấu, không ký tự đặt biệt</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error':form.controls.name.errors && form.controls.name.dirty , 'has-success': !form.controls.name.errors}">
                                <input class="form-control" type="text" name="name" formControlName="name" placeholder="*Tên nguyên liệu" />
                                <ul class="help-block">
                                    <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">Nội dung bắt buộc!</li>
                                    <li *ngIf="form.controls.name.errors?.maxlength && form.controls.name.dirty">Tối đa 30 ký tự!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category_id"> Chọn danh mục</label>
                            <div>
                                <select class="form-control" name="category_id" formControlName="category_id" autocomplete="off">
                                    <option *ngFor="let categoryMaterials of categoryMaterials" value="{{ categoryMaterials.id }}"> {{ categoryMaterials.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error': (form.controls.count.errors && form.controls.count.dirty) , 'has-success': !form.controls.count.errors}">
                                <input class="form-control" type="number" name="count" formControlName="count" placeholder="*Số lượng" />
                                <ul class="help-block">
                                    <li *ngIf="form.controls.count.errors?.required && form.controls.count.dirty">Nội dung bắt buộc!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error': (form.controls.price_unit.errors && form.controls.price_unit.dirty) , 'has-success': !form.controls.price_unit.errors}">
                                <input class="form-control" type="number" name="price_unit" formControlName="price_unit" placeholder="*Đơn giá" (change)="changePriceUnit()"
                                />
                                <ul class="help-block">
                                    <li *ngIf="form.controls.price_unit.errors?.required && form.controls.price_unit.dirty">Nội dung bắt buộc!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error': (form.controls.unit.errors && form.controls.unit.dirty) , 'has-success': !form.controls.unit.errors}">
                                <input class="form-control" type="text" name="unit" formControlName="unit" placeholder="*Đơn vị" />
                                <ul class="help-block">
                                    <li *ngIf="form.controls.unit.errors?.required && form.controls.unit.dirty">Nội dung bắt buộc!</li>
                                    <li *ngIf="form.controls.unit.errors?.maxlength && form.controls.unit.dirty">Tối đa 30 ký tự!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="date" name="time" class="form-control" autocomplete="off" formControlName="time">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" [disabled]="!form.valid"  name="button" class="btn btn-success">Đồng ý</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Modal -->
    <div class="modal fade" id="editMaterialsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form [formGroup]="form4" (submit)="editMaterials()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sửa nguyên liệu</h4>
                    </div>
                    <div class="modal-body">
                        <!-- Custom Success/Error Message -->
                        <div class="row show-hide-message">
                            <div [ngClass]="messageClass2">
                                {{ message2 }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div [ngClass]="{'has-error':form4.controls.id.errors && form4.controls.id.dirty , 'has-success': !form4.controls.id.errors  }">
                                <input class="form-control" type="text" name="id" formControlName="id" placeholder="*Mã nguyên liệu" value="{{ materials2.id }}"
                                    (change)="changeId()" />
                                <ul class="help-block">
                                    <li *ngIf="form4.controls.id.errors?.required && form4.controls.id.dirty">Nội dung bắt buộc!</li>
                                    <li *ngIf="form4.controls.id.errors?.maxlength && form4.controls.id.dirty">Tối đa 30 ký tự!</li>
                                    <li *ngIf="form4.controls.id.errors?.validateId && form4.controls.id.dirty">Viết liền không dấu, không ký tự đặt biệt</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error':form4.controls.name.errors && form4.controls.name.dirty , 'has-success': !form4.controls.name.errors}">
                                <input class="form-control" type="text" name="name" formControlName="name" placeholder="*Tên nguyên liệu" value="{{ materials2.name }}"
                                    (change)="changeName()" />
                                <ul class="help-block">
                                    <li *ngIf="form4.controls.name.errors?.required && form4.controls.name.dirty">Nội dung bắt buộc!</li>
                                    <li *ngIf="form4.controls.name.errors?.maxlength && form4.controls.name.dirty">Tối đa 30 ký tự!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category_id"> Chọn danh mục</label>
                            <div>
                                <select class="form-control" name="category_id" formControlName="category_id" autocomplete="off" [(ngModel)]="selectedState"
                                    (change)="changeCategory()">
                                    <option *ngFor="let categoryMaterials of categoryMaterials" value="{{ categoryMaterials.id }}"> {{ categoryMaterials.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error': (form4.controls.count.errors && form4.controls.count.dirty) , 'has-success': !form4.controls.count.errors}">
                                <input class="form-control" type="number" name="count" formControlName="count" placeholder="*Số lượng" value="{{ materials2.count }}"
                                    (change)="changeCount()" />
                                <ul class="help-block">
                                    <li *ngIf="form4.controls.count.errors?.required && form4.controls.count.dirty">Nội dung bắt buộc!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error': (form4.controls.price_unit.errors && form4.controls.price_unit.dirty) , 'has-success': !form4.controls.price_unit.errors}">
                                <input class="form-control" type="number" name="price_unit" formControlName="price_unit" placeholder="*Đơn giá" value="{{ materials2.price_unit }}"
                                    (change)="changePriceUnit()" />
                                <ul class="help-block">
                                    <li *ngIf="form4.controls.price_unit.errors?.required && form4.controls.price_unit.dirty">Nội dung bắt buộc!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div [ngClass]="{'has-error': (form4.controls.unit.errors && form4.controls.unit.dirty) , 'has-success': !form4.controls.unit.errors}">
                                <input class="form-control" type="text" name="unit" formControlName="unit" placeholder="*Đơn vị" value="{{ materials2.unit }}"
                                    (change)="changeUnit()" />
                                <ul class="help-block">
                                    <li *ngIf="form4.controls.unit.errors?.required && form4.controls.unit.dirty">Nội dung bắt buộc!</li>
                                    <li *ngIf="form4.controls.unit.errors?.maxlength && form4.controls.unit.dirty">Tối đa 30 ký tự!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="date" name="time" class="form-control" autocomplete="off" formControlName="time" value="{{ materials2.time | date:'yyyy-MM-dd'  }}"
                                (change)="changeTime()">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" [disabled]="!checkChange || !id || !name || !category || !count || !price_unit || !unit || !time" name="button" class="btn btn-success">Đồng ý</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End -->

</div>